*
{
margin: 0;
padding: 0;
}

img {
    max-width: 100%;
    height: auto;
  }

/* Navigation */
#navbar
{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar
{
    background-image: linear-gradient(to right, #FFC14D, #FFAF19);
    padding: 0 !important;
}
.navbar-brand img
{
    height: 65px;
    width: 89px;
    padding-left: 20px;
    color: #FFEDCC;
}

.navbar-brand
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #FFEDCC !important;
    font-weight: 600;
}

.navbar-bar li
{
    
    padding: 0 10px;
}

.navbar-nav a
{   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #FFEDCC !important;
    font-weight: 600;
    float: right;
    text-align: right;
}
.navbar-toggler
{
    outline: none !important;
}
/* Hero Text */
#hero
{
    background-image: linear-gradient(to right, #FFC14D, #FFAF19);
    color: #FFEDCC;
    padding-top: 5%;
}
.hero-text
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
    font-weight: 600;
}
.para
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 0px;
    font-weight: 500;
}
     
.shop
{
    width: 20px;
    height: 20px;
    text-size-adjust: 100%;
    margin-right: 7px;
    margin-bottom: 5px;
}

#hero a
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
    text-decoration: none;
}

.cheese
{
    border-radius: 40px;
    width: 450px;
    margin-bottom: 10px;
}

.wave1
{
    width: 100%;
}

/* Tentang produk */
#tentang
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#tentang img
{
    border-radius: 50px;
    margin-left: 0px;
    margin-top: 30px;
    margin-bottom: 100px;
    max-width: 100%;
}

.title
{
    text-align: center;
}

.title::before
{
    content: '';
    background: #FFC14D;
    height: 5px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
    margin-bottom: auto;
}

.pp
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left:10px;
    margin-top: 35px;
    text-align: start;
    font-size: 30px;
}
/* Gallery */
#gallery
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #f8f9fa; 
}
.img-fluid
{
    margin-top: 10px;
    border-radius: 40px;
}

/* Poster */
.mb-4
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.postercheezy
{
    margin-top: 12px;
}
/* Video Section */
#video {
    padding: 50px 0;
  }
  
  #video .title {
    font-size: 36px;
  }
  
  .video-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .video-container iframe {
    border-radius: 10px;
  }
  
/* Anggota */
#anggota
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #f8f9fa;
}

.ags
{
    margin-left: 55px;
    font-size: 40px;
    margin-top: 8%;
    font-weight: 600;
}

#anggota ol li
{
    margin-left: 40px;
}


/* Footer */
#footer
{
    background-image: linear-gradient(to right, #FFC14D, #FFAF19);
    color: #FFEDCC
}
.footer-img
{
    width: 110%;
}
.footer-box
{
    padding: 20px;
}

#footer .footer-box 
{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

.micro
{
    max-width: 160px;
    margin-top: 20px;
}

.satas
{
   max-width: 185px;
   margin-top: 13px;
}

hr
{
    background-color: white;
}
.copyright
{
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 0;
    padding-bottom: 30px;
    text-align: center;
}
.source
{
    font-style: italic;
    color: aliceblue;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}