*
{
margin: 0;
padding: 0;
}

#navbar
{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar
{
    background-image: linear-gradient(to right, #FFC14D, #FFAF19);
    padding: 0 !important;
}
.navbar-brand img
{
    height: 65px;
    width: 89px;
    padding-left: 20px;
    color: #FFEDCC;
}

.navbar-brand
{
    color: #FFEDCC !important;
}

.navbar-bar li
{
    padding: 0 10px;
}

.navbar-nav a
{   
    color: #FFEDCC !important;
    font-weight: 600;
    float: right;
    text-align: right;
}
.navbar-toggler
{
    outline: none !important;
}
/* Hero Text */
#hero
{
    background-image: linear-gradient(to right, #FFC14D, #FFAF19);
    color: #FFEDCC;
    padding-top: 5%;
}
.hero-text
{
    font-size: 45px;
    font-weight: 600;
}
                       
.shop
{
    width: 20px;
    height: 20px;
    text-size-adjust: 100%;
    margin-right: 7px;
    margin-bottom: 5px;
}

#hero a
{
    color: aliceblue;
    text-decoration: none;
}

.cheese img
{
    width: 100px;
}